.page {
  display: flex;
  flex-direction: column;
}

.header {
  color: brown;
  background-color: #eee;
  display: flex;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  justify-content: center;
}

.main {
  display: flex;
  height: 500px;
  background-color: lightblue;
}

.footer {
  color: DodgerBlue;
  background-color: #eee;
  display: flex;
  padding: 20px;
  font-family: Arial;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}