.page {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ;
}
.header h1 {
  color: brown;
  background-color: #eee;
  font-family: Arial;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  padding: 5px;
}
.header nav {
  display: flex;
  justify-content: space-around;
}
.header nav ul {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 30px;
}
.header nav ul li {
  display: flex;;
  text-decoration: none;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  
}
.header nav ul li a {
  display: flex;;
  text-decoration: none;
  font-size: large;
  color: coral;
}

.main {
  display: flex;
  height: 500px;
  background-color: lightblue;
}

.footer {
  color: DodgerBlue;
  background-color: #eee;
  display: flex;
  padding: 20px;
  font-family: Arial;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}